<footer>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>About</li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</footer>