


<h1>Contact Us</h1>
<form method="POST" action="/contact">
        <label for="name">Name</label>
        <input type="text" name="name" id="">
        <label for="mobile">Mobile</label>
        <input type="text" name="mobile" id="">
        <label for="email">Email</label>
        <input type="text" name="email" id="">
        <button type="submit">Send</button>
</form>

