* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    float:left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    text-decoration: none;
    color:#666;
    padding: 14px;
    min-height:16px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

ul.topnav li a:hover {
    color:#fff;
    background-color:#3342FF
}

ul.topnav li.nav-menu {
    display: none;
}


@media screen and (max-width:680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }

    ul.topnav li.nav-menu {
        display: block;
        float:right;
    }

    ul.topnav.responsive {
        position: relative;
    }

    ul.topnav.responsive li {
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }

    ul.topnav.responsive li.nav-menu {
        position: absolute;
        top:0;
        right: 0;
    }

}
